@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudyResource</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudyResource.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudyResource</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - StudyResource - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - StudyResource</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/etrain-master/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/etrain-master/css/style.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href=""> <img src="~/etrain-master/img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Document" asp-action="Index" class="nav-link">Tài liệu</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Upload" asp-action="Index" class="nav-link">Upload</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="">Single blog</a>
                                        <a class="dropdown-item" href="">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Contact" asp-action="Index" class="nav-link">Liên hệ</a>
                                </li>
                                <li class="d-none d-lg-block">
                                    <a asp-controller="Home" asp-action="Index" class="btn_1">Đăng nhập</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    @RenderBody()

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="~/etrain-master/img/logo.png" alt=""> </a>
                        <h4>Trợ giúp</h4>
                        <a href="">
                            <h5 class="card-title">Hướng dẫn sử dụng</h5>
                        </a>
                        <a href="">
                            <h5 class="card-title">Upload tài liệu</h5>
                        </a>
                        <a href="">
                            <h5 class="card-title">Hỏi và Đáp</h5>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Đăng ký email</h4>
                        <p>
                            Đăng ký để nhận email về những tài liệu mới nhất.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter email address'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter email address'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Liên hệ</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> 280 An Dương Vương, phường 4, quận 5 </p>
                            <p><span> Phone :</span> +84 111 111 111</p>
                            <p><span> Email : </span>example@gmail.com </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="footer-text m-0">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/etrain-master/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/etrain-master/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/etrain-master/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/etrain-master/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/etrain-master/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/etrain-master/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/etrain-master/js/owl.carousel.min.js"></script>
    <script src="~/etrain-master/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="~/etrain-master/js/slick.min.js"></script>
    <script src="~/etrain-master/js/jquery.counterup.min.js"></script>
    <script src="~/etrain-master/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="~/etrain-master/js/custom.js"></script>
</body>
