@using StudyResource.ViewModels.Home
@model UploadAndDownloadDocumentViewModel

<div class="card w-100">
    <div class="card-body">
        <div class=" d-block mb-9">
            <div class="mb-3 mb-sm-0">
                <h5 class="card-title fw-semibold d-sm-flex align-items-center justify-content-between">
                    Thống kê lượt đăng / tải
                    <i class="ti ti-reload" id="upload-and-download-documents-reload-icon" style="cursor: pointer"></i>
                </h5>
            </div>
        </div>
        <div id="chart"></div>
    </div>
</div>

<script>
    var uploadCount = @Html.Raw(Json.Serialize(Model.UploadCount));
    var downloadCount = @Html.Raw(Json.Serialize(Model.DownloadCount));
    var last7Days = [];
    var currentDate = new Date();
    for (var i = 6; i >= 0; i--) {
        var date = new Date(currentDate);
        date.setDate(currentDate.getDate() - i);
        var formattedDate = date.toLocaleDateString('vi-VN');

        last7Days.push(formattedDate);
    }

    var chartOptions = {
        series: [
            { name: "Lượt đăng", data: uploadCount },
            { name: "Lượt tải", data: downloadCount }
        ],
        chart: {
            type: "bar",
            height: 345,
            offsetX: -15,
            toolbar: { show: true },
            foreColor: "#adb0bb",
            fontFamily: 'inherit',
            sparkline: { enabled: false },
        },
        colors: ["#5D87FF", "#49BEFF"],
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: "35%",
                borderRadius: [6],
                borderRadiusApplication: 'end',
                borderRadiusWhenStacked: 'all'
            },
        },
        markers: { size: 0 },
        dataLabels: {
            enabled: false,
        },
        legend: {
            show: true,
        },
        grid: {
            borderColor: "rgba(0,0,0,0.1)",
            strokeDashArray: 3,
            xaxis: {
                lines: {
                    show: false,
                },
            },
        },
        xaxis: {
            categories: last7Days,
            labels: {
                style: { cssClass: "grey--text lighten-2--text fill-color" },
            },
        },
        yaxis: {
            min: 0,
            max: Math.max(Math.max(...uploadCount), Math.max(...downloadCount)) + 10,
            tickAmount: 4,
            labels: {
                style: { cssClass: "grey--text lighten-2--text fill-color" },
            },
        },
        stroke: {
            show: true,
            width: 3,
            lineCap: "butt",
            colors: ["transparent"],
        },
        tooltip: { theme: "light" },
        responsive: [
            {
                breakpoint: 600,
                options: {
                    plotOptions: {
                        bar: {
                            borderRadius: 3,
                        }
                    },
                }
            }
        ]
    };

    var chart = new ApexCharts(document.querySelector("#chart"), chartOptions);
    chart.render();
</script>

<script>
    $("#upload-and-download-documents-reload-icon").click(function () {
        $("#upload-and-download-documents").load('/Admin/Home/GetUploadAndDownloadDocuments');
    });
</script>