@{
    Layout = "_AdminLayout";
}
    
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div id="upload-and-download-documents" class="col-lg-8 d-flex align-items-strech"></div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Recent Documents-->
                    <div id="pending-and-approved-documents">
                        <div>Đang tải...</div>
                    </div>
                <div class="col-lg-12">
                    <!-- Total Documents-->
                    <div id="total-documents">
                        <div>Đang tải...</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <!-- Recent Documents-->
            <div id="recent-documents" class="col-lg-4 d-flex align-items-stretch">
                <div>Đang tải...</div>
            </div>
            <div id="top-contributors-today" class="col-lg-8 d-flex align-items-stretch">
                <div>Đang tải...</div>
            </div>
        </div>
        <div class="row" id="top-downloaded-documents">
            Đang tải...
        </div>
        <div class="row" id="top-viewed-documents">
            Đang tải...
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Upload/Download Document
        $(document).ready(function () {
            $("#upload-and-download-documents").load('/Admin/Home/GetUploadAndDownloadDocuments');

            setInterval(function () {
                $("#upload-and-download-documents").load('/Admin/Home/GetUploadAndDownloadDocuments');
            }, 300000);
        })
    </script>

    <script>
        // Pending and Approved Document
        $(document).ready(function () {
            $("#pending-and-approved-documents").load('/Admin/Home/GetPendingAndApprovedDocuments');
            
            setInterval(function () {
                    $("#pending-and-approved-documents").load('/Admin/Home/GetPendingAndApprovedDocuments');
            }, 300000);
        });
    </script>

    <script>
        // Total Documents
        $(document).ready(function () {
            $("#total-documents").load('/Admin/Home/GetTotalDocuments');

            setInterval(function () {
                $("#total-documents").load('/Admin/Home/GetTotalDocuments');
            }, 300000);
        });
    </script>

    <script>
        // Recent Document
        $(document).ready(function () {
            $("#recent-documents").load('/Admin/Home/GetRecentDocuments');

            setInterval(function () {
                $("#recent-documents").load('/Admin/Home/GetRecentDocuments');
            }, 300000);
        });
    </script>

    <script>
        // Top Contributor Today
        $(document).ready(function () {
            $("#top-contributors-today").load('/Admin/Home/GetTopContributorsToday');

            setInterval(function () {
                $("#top-contributors-today").load('/Admin/Home/GetTopContributorsToday');
            }, 300000);
        });
    </script>


    <script>
        // Top Downloaded/Viewed Document
        $(document).ready(function (){
            $('#top-downloaded-documents').load('/Admin/Home/GetTopDownloadedDocuments');
            $('#top-viewed-documents').load('/Admin/Home/GetTopViewedDocuments');
        })
    </script>
}