@model string

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Thêm Vai Trò";
}

<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Create" method="post" asp-antiforgery="true">
        <div class="form-group mb-3">
            <label for="roleName">Tên vai trò</label>
            <input type="text" class="form-control" id="roleName" name="roleName" required />
        </div>
        <button type="submit" class="btn btn-primary">Thêm vai trò</button>
        <a asp-action="Index" class="btn btn-secondary mx-3">Quay lại</a>
    </form>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mt-2">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
</div>

@section Scripts {
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
            Toast.fire({
                icon: "success",
                title: "@TempData["SuccessMessage"]"
            });
        </script>
    }
}