@{
    ViewData["Title"] = "Home Page";
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>Download tài liệu dễ dàng</h5>
                        <h1>
                            TÀI LIỆU CHƯƠNG TRÌNH PHỔ THÔNG
                        </h1>
                        <p>
                            Etrain mang sứ mệnh xây dựng một hệ sinh thái giáo dục, kết nối nhà trường với học sinh và phụ huynh, 
                            nhằm tạo nên môi trường giảng dạy và học tập toàn diện, hiệu quả.
                        </p>
                        <a asp-controller="Account" asp-action="Login" class="btn_1">Đăng nhập</a>
                        <a asp-controller="Account" asp-action="Register" class="btn_1">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part end-->

<!-- new document part start-->
<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Tài liệu mới</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn_4">.DOCS</a>
                            <a href="blog.html">
                                <h5 class="card-title">Toán lớp 10</h5>
                            </a>
                            <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn_4">.DOCS</a>
                            <a href="blog.html">
                                <h5 class="card-title">Toán lớp 10</h5>
                            </a>
                            <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn_4">.DOCS</a>
                            <a href="blog.html">
                                <h5 class="card-title">Toán lớp 10</h5>
                            </a>
                            <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn_4">.DOCS</a>
                            <a href="blog.html">
                                <h5 class="card-title">Toán lớp 10</h5>
                            </a>
                            <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn_4">.DOCS</a>
                            <a href="blog.html">
                                <h5 class="card-title">Toán lớp 10</h5>
                            </a>
                            <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn_4">.DOCS</a>
                            <a href="blog.html">
                                <h5 class="card-title">Toán lớp 10</h5>
                            </a>
                            <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <a asp-controller="Document" asp-action="Index" class="btn_1">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--new document part end-->

<!--featured document part start-->
<section class="special_cource">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Tài liệu nổi bật</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="special_cource_text">
                        <a href="#" class="btn_4">.PDF</a>
                        <a href="#"><h3>Toán lớp 10</h3></a>
                        <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                        <div class="author_info">
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="special_cource_text">
                        <a href="#" class="btn_4">.PDF</a>
                        <a href="#"><h3>Toán lớp 10</h3></a>
                        <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                        <div class="author_info">
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="special_cource_text">
                        <a href="#" class="btn_4">.PDF</a>
                        <a href="#"><h3>Toán lớp 10</h3></a>
                        <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                        <div class="author_info">
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="special_cource_text">
                        <a href="#" class="btn_4">.PDF</a>
                        <a href="#"><h3>Toán lớp 10</h3></a>
                        <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                        <div class="author_info">
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="special_cource_text">
                        <a href="#" class="btn_4">.PDF</a>
                        <a href="#"><h3>Toán lớp 10</h3></a>
                        <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                        <div class="author_info">
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="special_cource_text">
                        <a href="#" class="btn_4">.PDF</a>
                        <a href="#"><h3>Toán lớp 10</h3></a>
                        <p>Các bài giảng và đề thi Toán lớp 10 cho kỳ thi học kỳ 1.</p>
                        <div class="author_info">
                            <div class="author_rating">
                                <div class="rating">
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/color_star.svg" alt=""></a>
                                    <a href="#"><img src="~/etrain-master/img/icon/star.svg" alt=""></a>
                                </div>
                                <p>3.8 Ratings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></br>
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <a asp-controller="Document" asp-action="Index" class="btn_1">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--featured document part end-->

<!-- about part start-->
<section class="learning_part">
    </br>
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-7 col-lg-7">
                <div class="learning_img">
                    <img src="~/etrain-master/img/learning_img.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="learning_member_text">
                    <h2>
                        Về Etrain
                    </h2>
                    <p>
                        Etrain là doanh nghiệp đi đầu về lĩnh vực công nghệ trong giáo dục.
                        Etrain mong muốn xây dựng nền tảng giáo dục bằng cách tạo nên một môi truờng
                        dạy và học trực tuyến chất lượng cao, đầy nhiệt huyết, hứng thú và sáng tạo.
                    </p>
                    @* <ul>
                        <li>
                            <span class="ti-pencil-alt"></span>Him lights given i heaven second yielding seas
                            gathered wear
                        </li>
                        <li>
                            <span class="ti-ruler-pencil"></span>Fly female them whales fly them day deep given
                            night.
                        </li>
                    </ul> *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->

<!--quotes part start-->
<section class="testimonial_part">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Danh ngôn</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="textimonial_iner owl-carousel">
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>
                                        Cả đọc và viết đều là những trải nghiệm suốt đời.
                                    </p>
                                    <h4>Eudora Welty</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="~/etrain-master/img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>
                                        Learning never exhausts the mind.
                                    </p>
                                    <h4>Kirk Douglas</h4>
                                    <h5>- Việc học không bao giờ làm cạn kiệt tâm trí.</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="~/etrain-master/img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>
                                        Live as if you were to die tomorrow. Learn as if you were to live forever.
                                    </p>
                                    <h4>Mahatma Gandhi</h4>
                                    <h5>- Hãy sống như thể bạn sẽ chết ngày mai. Hãy học như thể bạn sẽ sống mãi mãi.</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="~/etrain-master/img/testimonial_img_2.png" alt="#">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>
                                        Develop a passion for learning. If you do, you will never cease to grow.
                                    </p>
                                    <h4>Anthony J. D’Angelo</h4>
                                    <h5>- Hãy luôn đam mê học hỏi. Nếu làm được, bạn sẽ phát triển không ngừng. </h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="~/etrain-master/img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>
                                        The beautiful thing about learning is that nobody can take it away from you.
                                    </p>
                                    <h4>B.B. King</h4>
                                    <h5>- Điều đẹp nhất của việc học là không ai có thể cướp nó khỏi tay bạn.</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="~/etrain-master/img/testimonial_img_3.png" alt="#">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>
                                        Learning never exhausts the mind.
                                    </p>
                                    <h4>Leonardo da Vinci</h4>
                                    <h5>- Việc học không bao giờ làm cạn kiệt tâm trí.</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="~/etrain-master/img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--quotes part end-->

<!-- contact part start-->
<section class="advance_feature learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-xl-stretch">
            <div class="col-md-6 col-lg-6">
                <div class="learning_member_text">
                    <h5>Văn phòng</h5>
                    <h2>
                        Hệ thống Etrain
                    </h2>
                    <p>
                        Hiểu rõ quy tắc 1% và sức mạnh của sự tích lũy, Etrain nhấn mạnh vào việc xây dựng thói quen 
                        và sự nỗ lực cho học sinh: sự khác biệt được tạo ra khi mỗi ngày ta cố gắng tốt hơn ngày hôm qua 1%.
                    </p>
                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="learning_member_text_iner">
                                <span class="ti-pencil-alt"></span>
                                <h4>Địa chỉ</h4>
                                <p>280 An Dương Vương, phường 4, quận 5, Thành phố Hồ Chí Minh</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="learning_member_text_iner">
                                <span class="ti-stamp"></span>
                                <h4>Số điện thoại</h4>
                                <p>+84 111 111 111</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="learning_img">
                    <img src="~/etrain-master/img/advance_feature_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact part end-->