<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="shortcut icon" type="image/png" href="~/admin-template/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/admin-template/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.32.1/tagify.css" />

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        
        @await Html.PartialAsync("_Sidebar")
        <!--  Main wrapper -->
        <div class="body-wrapper">
            @await Html.PartialAsync("_Header")

            @RenderBody()
        </div>
    </div>
    <script src="~/admin-template/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin-template/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin-template/js/sidebarmenu.js"></script>
    <script src="~/admin-template/js/app.min.js"></script>
    <script src="~/admin-template/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/admin-template/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/admin-template/js/dashboard.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <!-- SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- DataTables-->
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.32.1/tagify.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>