<!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        @* <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="~/admin-template/images/logos/dark-logo.svg" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div> *@
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Trang chủ</span> 
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn_1">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Quản lý</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Document" asp-action="Index">
                         <span>
                            <i class="ti ti-folder"></i>
                        </span>
                        <span class="hide-menu">Quản lý tài liệu</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Document" asp-action="PendingDocuments">
                        <span>
                            <i class="ti ti-folder-x"></i>
                        </span>
                        <span class="hide-menu">Tài liệu chưa duyệt</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Document" asp-action="ApprovedDocuments">
                        <span>
                            <i class="ti ti-folder-check"></i>
                        </span>
                        <span class="hide-menu">Tài liệu đã duyệt</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="DocumentType" asp-action="Index">
                        <span>
                            <i class="ti ti-category"></i>
                        </span>
                        <span class="hide-menu">Quản lý loại tài liệu</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Keyword" asp-action="Index">
                        <span>
                            <i class="ti ti-tag"></i>
                        </span>
                        <span class="hide-menu">Quản lý từ khóa</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Video" asp-action="Index">
                        <span>
                            <i class="ti ti-cloud"></i>
                        </span>
                        <span class="hide-menu">Quản lý Video</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Image" asp-action="Index">
                        <span>
                            <i class="ti ti-photo"></i>
                        </span>
                        <span class="hide-menu">Quản lý hình ảnh</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="User" asp-action="Index">
                        <span>
                            <i class="ti ti-users"></i>
                        </span>
                        <span class="hide-menu">Quản lý người dùng</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" aria-expanded="false" asp-area="Admin" asp-controller="Role" asp-action="Index">
                        <span>
                            <i class="ti ti-user-shield"></i>
                        </span>
                        <span class="hide-menu">Quản lý vai trò</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->