@model IEnumerable<StudyResource.ViewModels.Document.DocumentDetailViewModel.UserComment>

<ul class="list-unstyled">
    @foreach (var comment in Model)
    {
        <li class="my-3">
            <h6>@comment.Username <small class="text-muted">(@comment.CommentDate.ToString("dd/MM/yyyy HH:mm"))</small></h6>
            <div class="star-rating-list">
                @for (int i = 1; i <= 5; i++)
                {
                    if (i <= comment.Rating)
                    {
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i> <!-- Ngôi sao đầy -->
                    }
                    else
                    {
                        <i class="fa-regular fa-star" style="color: #FFD43B;"></i> <!-- Ngôi sao rỗng -->
                    }
                }
            </div>
            <p style="word-wrap: break-word; white-space: normal; overflow-wrap: break-word;">@comment.Comment</p>
        </li>
    }
</ul>